<h1>Training Philosophy:</h1>
<p>The Candid Canine’s training philosophy is informed by the most current research in canine cognition, animal behavior, and learning theory in order to make sure we're working with your dog in a way it will understand and respond to. Positive reinforcement, counter-conditioning and clicker training are all proven techniques that work by rewarding the animal for the desired behavior and replacing negative or unwanted behaviors with something you want - no yelling 'no' or yanking on a leash needed! By removing punishment and harsh equipment from the skill set I teach you, the dogs I work with eagerly engage with their owners to accomplish desired behaviors and truly love their training experience.</p>

<h2>Ethics and Methods:</h2>

<p>The Candid Canine believes in the Least Intrusive, Minimally Aversive approach to behavior modification and dog training standardized by the International Association of AnimalBehavior Consultants (IAABC).</p>

<img src="/APDT_Prof_COLOR.jpg">
